<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Social Catwork</title>
    <link rel="icon" href="/public/images/paw.png">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/test.css">


    <script src="https://use.fontawesome.com/a12d590683.js"></script>
	<script src="/public/javascripts/jquery-1.6.4.min.js"></script>

</head>
<body>
<header>
	<div class="row">
		<h2> ${cat.getName()}</h2>
		<div class="options">
			<i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
			<a href="/upload"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a>
			<a class="out" href="/logout"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
        </div>
	</div>
</header>
<!--<h4>Here are some recent cat photos:</h4>-->

<script>
    $( ".fa-caret-right" ).click(function() {
        //alert($( this ).css( "transform" ));
        if (  $( this ).css( "transform" ) == 'none' ){
            $(this).css("transform","rotate(90deg)");
        } else {
            $(this).css("transform","" );
        }
    });
</script>

<div id="offset"></div>

#{list items:allPhotoEntities, as:'photo'}
<div class="list">

    <p class="upper">
        <span class="title" style="float:left">${photo.getTitle()}</span>
        <span class="date" style="float:right"> (${photo.getStringDate()}):</span>
    </p>


    <div>
        <img id="cat_img" src="@{PhotoController.getPhoto}?id=${photo.getId()}"/>

        <div class="com">
            <form class="comment" action="@{Application.saveComment}?photo=${photo.getId()}" method="POST" accept-charset="UTF-8">
                <input class="comment_on_enter" type="text" name="comment" placeholder="Your comment"/> <br/>
                <!-- <input type="submit" value="Comment"> -->
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function() {

        $('.comment_on_enter').keydown(function(event) {
        // enter has keyCode = 13, change it if you want to use another button
             if (event.keyCode == 13) {
                 this.form.submit();
                 return false;
                }
            });
        });
    </script>

    <div class="all_comments">
        #{list items:photo.getComments(), as:'comment'}
            <p style="color:#404349;"> ${comment.getComment()} </p>
        #{/list}
    </div>

</div>

#{/list}

</body>
</html>