<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Social Catwork</title>
    <link rel="icon" href="/public/images/paw.png">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/test.css">

</head>
<body>
<header>
	<div class="row">
		<h2> ${cat.getName()}</h2>
		<div class="options">
			<i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
			<a href="/upload"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a>
			<a class="out" href="/logout"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
        </div>
	</div>
</header>
<!--<h4>Here are some recent cat photos:</h4>-->

<div id="offset"></div>

#{list items:allPhotoEntities, as:'photo'}
<div class="list">

    <p class="upper">
        <span class="title" style="float:left">${photo.getTitle()}</span>
        <span class="date" style="float:right"> (${photo.getStringDate()}):</span>
    </p>


    <div>
        <img src="@{PhotoController.getPhoto}?id=${photo.getId()}"/>

        <div class="com">
            <input class="comment_on_enter" type="text" id="${photo.getId()}" placeholder="Your comment"/> <br/>
        </div>
    </div>
    <div class="all_comments" id="div-${photo.getId()}">
        #{list items:photo.getComments(), as:'comment'}
            <p style="color:#404349;"> ${comment.getComment()} </p>
        #{/list}
    </div>
</div>

#{/list}

<script src="https://use.fontawesome.com/a12d590683.js"></script>
<script src="/public/javascripts/jquery-1.6.4.min.js"></script>

<script>
    $( ".fa-caret-right" ).click(function() {
        //alert($( this ).css( "transform" ));
        if (  $( this ).css( "transform" ) == 'none' ){
            $(this).css("transform","rotate(90deg)");
        } else {
            $(this).css("transform","" );
        }
    });
</script>

<script>
    $(document).ready(function() {

        $('.comment_on_enter').keydown(function(event) {
            // enter has keyCode = 13, change it if you want to use another button
            if (event.keyCode == 13) {
                var comment = this.value;
                var id = this.id;

                $.ajax({
                    url: "/application/savecomment",
                    type: "POST",
                    data: "comment=" + encodeURIComponent(comment) + "&photo=" + id,
                    contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    dataType: "text"
                }).done(function(data) {
                    if (data == "success") {
                        var newComment = "<p style=\"color:#404349;\">" + comment + "</p>";
                        $("#div-" + id).append(newComment);
                        $("#div-" + id).scrollTop($("#div-" + id)[0].scrollHeight);
                    }
                }).fail(function(data) {
                    console.log("not saved");
                });
            }
        });
    });
</script>

</body>
</html>